<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="combined_robot_ros2_control" params="name initial_positions_file">
        <xacro:property name="initial_positions" value="${load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name}" type="system">
            <hardware>
                <!-- By default, set up controllers for simulation. This won't work on real hardware -->
                <plugin>mock_components/GenericSystem</plugin>
            </hardware>
            <joint name="arm1joint1">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['arm1joint1']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="arm1joint2">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['arm1joint2']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="arm1joint3">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['arm1joint3']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="arm1joint4">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['arm1joint4']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="arm1joint5">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['arm1joint5']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="arm1joint6">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['arm1joint6']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="arm2joint1">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['arm2joint1']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="arm2joint2">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['arm2joint2']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="arm2joint3">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['arm2joint3']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="arm2joint4">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['arm2joint4']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="arm2joint5">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['arm2joint5']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="arm2joint6">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['arm2joint6']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="arm1joint7">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['arm1joint7']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="arm1joint8">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['arm1joint8']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="arm2joint7">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['arm2joint7']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="arm2joint8">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['arm2joint8']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>

        </ros2_control>
    </xacro:macro>
</robot>
